.betweenbar {
	clear: left;
	height: 10px;
}

/* Kaart op home */
#map-div {
	clear: both;
	height: 650px;
}

.btn-default {
	color: #3E9FFF;
}
.btn-default:hover {
	color: #88CE00;
	background-color: white;
}
.btn-file {
	color: #3E9FFF;
	font-weight: normal;
	background-color: white;
	border-color: #ccc;
}
.btn-file:hover {
	color: #88CE00;
	font-weight: normal;
	background-color: white;
	border-color: #adadad;
}

#searchbar {
	clear: both;
}
#searchbar #locatie_omschrijving {
	width: 80%;
	float: left;
}
#searchbar #place-marker {
	width: 20%;
	float: left;
}

/* Kaart op editscherm */
#map-div-edit {
	height: 400px;
	width: 400px;
}

.checkbox {
	margin-bottom: 20px;
}
input[type=checkbox].form-control {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: -8px;
}

#place-marker {
	margin-bottom: 20px;
}

.photobar ul {
	padding: 0;
	list-style-type: none;
}
.photobar li {
	clear: left;
	height: 310px;
}
.photobar img {
	height: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.photo-meta {
	float: left;
}

.buttonbar {
	margin-bottom: 100px;
}

.error {
	color: red;
}

.notice {
	background-color: rgba(138, 197, 63, 0.5); /*#88CE00;*/
	border-radius: 4px;
	padding: 10px;
}

.detail-photobar {
	margin-bottom: 20px;
}
.detail-photobar img {
	max-height: 300px;
}
.slick-prev {
	z-index: 1000;
}
.slick-prev:before, .slick-next:before {
    color: #3E9FFF;
    font-weight: bold;
}
.slick-slide {
	margin-right: 20px;
}

#photo-info {
	clear: left;
}

#mini-map {
	height: 300px;
	width: 300px;
	margin-bottom: 10px;
}

#details {
	clear: both;
}
#details li {
	margin-left: -20px;
}

#atoz {
	clear: both;
}

.voorzieningen {
	float: left;
}

.locatie {
	float: left;
	margin-left: 40px;
}

.logo {
	float: left;
	margin-bottom: 10px;
	display: block;
}
.logo-resp {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-right: 10px;
	display: none;
}
.logo-resp img {
	margin-left: auto;
	margin-right: auto;
}

nav {
    overflow: hidden;
    padding: 10px 0 20px 0;
}
nav .navWide {
    display: none;
    margin: 0 auto;
}
nav .navWide .wideDiv a {
    display: inline-block;
    padding-right: 20px;
}
nav .navWide .wideDiv a.admin {
	float: right;
	padding-right: 0px;
}
nav .navNarrow i {
    float: left;
}
.hidden {
    display: none;
}
nav .navNarrow .narrowLinks a {
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

a {
	color: #3E9FFF;
	text-decoration: none;
}
a:hover {
	color: #88CE00;
	text-decoration: none;
}

th {
	color: #88CE00;
}

#latestbox {
	width: 300px;
	float: right;
	background-color: rgba(138, 197, 63, 0.5); /*#88CE00;*/
	border-radius: 4px;
	padding: 10px;
}
#latestbox a {
	/*color: #FF0025;*/
}
#latestbox a:hover {
	color: #FF4200;
}
#latestbox-resp {
	width: 100%;
	display: none;
    margin-top: 10px;
    margin-bottom: 10px;
	background-color: rgba(138, 197, 63, 0.5); /*#88CE00;*/
	border-radius: 4px;
    padding: 5px;
}
#latestbox-resp a {
	/*color: #FF0025;*/
}
#latestbox-resp a:hover {
	color: #FF4200;
}

#missing-item {
	margin-bottom: 20px;
}

#nonPopItems {
	display: none;
}

.notice a {
	/*color: #FF0025;*/
}
.notice a:hover {
	color: #FF4200;
}

.search input#q {
	float: left;
	width: 300px;
}
.search button#search-btn {
	float: left;
}
.search button#clear-search-btn {
	float: left;
}

.request {
	font-size: 90%;
	font-style: italic;
	background-color: rgba(138, 197, 63, 0.5);
	border-radius: 4px;
	padding: 5px;
	width: auto;
}
#requestChangeFormDiv {
	margin-bottom: 10px;
}
#requestChangeForm {
	display: none;
	background-color: rgba(138, 197, 63, 0.5);
	border-radius: 4px;
	padding: 10px;
}
#submitRequestChange {
	float: left;
	margin-right: 5px;
}

#reviewFormDiv {
	margin-bottom: 10px;
}
#reviewForm {
	display: none;
	background-color: rgba(138, 197, 63, 0.5);
	border-radius: 4px;
	padding: 10px;
}

#footer {
	margin: 20px 0px 10px 0px;
	background-color: rgba(138, 197, 63, 0.5); /*#88CE00;*/
	border-radius: 4px;
	padding: 10px 10px 0px 10px;
}
#footer h4 {
	margin-bottom: 0px;
}
#footer a {
	/*color: #FF0025;*/
}
#footer a:hover {
	color: #FF4200;
}
#footer .sitemap {
	margin-top: 0px;
}
#footer .sitemap a {
	display: block;
}
#footer .footer-column {
	float: left;
	width: 50%;
}
#footer .right h4 {
	margin-bottom: 10px;
}

#toggleFilterDiv {
	position: relative;
	top: 34px;
	left: -80px;
}
#toggleFilterDiv-resp {
	display: none;
	position: relative;
	top: -10px;
}
#map-filter-div {
	display: none;
	height: 650px;
	position: absolute;
	z-index: 1000;
	background-color: white;
	border-right: solid 2px #88CE00;
	overflow: auto;
	padding: 10px;
}

td.voorgesteld {
	background-color: #FAA21C;
}
td.actief {
	background-color: #88CE00;
}
td.afgewezen {
	background-color: #ED1E30;
}

#locationTip {
	display: none;
	width: 100%;
	background-color: #FAA21C;
	padding: 4px;
	text-align: center;
}

#postFeedback {
	clear: both;
}

span.stars, span.stars span {
	float: left;
    margin-right: 10px;
	background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars span {
    background-position: 0 0;
}
.morelink {
	clear: left;
}

#payoff {
	clear: left;
	margin-bottom: 20px;
}

#reviews {
	clear: left;
	display: none;
	border-bottom: solid 2px #88CE00;
	margin-bottom: 20px;
}
#toggleReviewsDiv {
	float: left;
	position: relative;
	top: -4px;
	margin-left: 10px;
	padding: 2px 6px;
}
#times_rated {
	float: left;
}
.reviewRowTop {
	margin-bottom: 0px;
}
.reviewRowBottom {
	clear: left;
	margin-top: 20px;
}
.ratingLabel {
	float: left;
	margin-right: 10px;
}

#speeltuinProperties {
	clear: left;
}

#public2div {
	display: none;	
}

.nostars {
	margin-top: -15px;
}