@media (min-width: 1px) and (max-width: 600px) {
    #latestbox {
        display: none;
    }
    #latestbox-resp {
        display: block;
    }

    .voorzieningen {
        clear: both;
    }

    .locatie {
        clear: both;
        margin-left: 0px;
    }
    
    nav .navWide .wideDiv a.admin {
		float: left;
	}
	
	.logo-resp {
		display: block;
	}
	.logo {
		display: none;
	}

    #footer .footer-column {
        float: none;
        width: 100%;
    }

    #map-div {
        margin-right: 20px;
    }
    
    #map-div-edit {
    	width: 90%;
    }
    
    #toggleFilterDiv {
    	display: none;
    }
    #toggleFilterDiv-resp {
    	display: block;
    }
    #map-filter-div {
    	position: relative;
    	height: auto;
    	border-right: none;
    }

    h1 {
        font-size: 110%;
        font-weight: bold;
    }

    .open {
        border-bottom: solid 2px #88CE00;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@media (min-width: 601px) {
    nav .navWide {
        display: block;
    }
    nav .navNarrow {
        display: none;
    }
}