.betweenbar {
	clear: left;
	height: 10px;
}

/* Kaart op home */
#map-div {
	clear: both;
	height: 600px;
}

.btn-default {
	color: #3E9FFF;
}
.btn-default:hover {
	color: #88CE00;
	background-color: white;
}
.btn-file {
	color: #3E9FFF;
	font-weight: normal;
	background-color: white;
	border-color: #ccc;
}
.btn-file:hover {
	color: #88CE00;
	font-weight: normal;
	background-color: white;
	border-color: #adadad;
}

#searchbar {
	clear: both;
}
#searchbar #locatie_omschrijving {
	width: 80%;
	float: left;
}
#searchbar #place-marker {
	width: 20%;
	float: left;
}

/* Kaart op editscherm */
#map-div-edit {
	height: 400px;
	width: 400px;
}

.checkbox {
	margin-bottom: 20px;
}
input[type=checkbox].form-control {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: -8px;
}

#place-marker {
	margin-bottom: 20px;
}

.photobar ul {
	padding: 0;
	list-style-type: none;
}
.photobar li {
	clear: left;
	height: 110px;
}
.photobar img {
	height: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.photo-meta {
	float: left;
}

.buttonbar {
	margin-bottom: 100px;
}

.error {
	color: red;
}

.notice {
	background-color: #88CE00;
	border-radius: 4px;
	padding: 10px;
}

.detail-photobar {
	margin-bottom: 20px;
}
.detail-photobar img {
	max-height: 300px;
}
.slick-prev {
	z-index: 1000;
}
.slick-prev:before, .slick-next:before {
    color: #3E9FFF;
    font-weight: bold;
}
.slick-slide {
	margin-right: 20px;
}

#photo-info {
	clear: left;
}

#mini-map {
	height: 300px;
	width: 300px;
	margin-bottom: 10px;
}

#details {
	clear: both;
}

.voorzieningen {
	float: left;
}

.locatie {
	float: left;
	margin-left: 40px;
}

.logo {
	float: left;
	margin-bottom: 10px;
	display: block;
}
.logo-resp {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-right: 10px;
	display: none;
}
.logo-resp img {
	margin-left: auto;
	margin-right: auto;
}

nav {
    overflow: hidden;
    padding: 10px 0 20px 0;
}
nav .navWide {
    display: none;
    margin: 0 auto;
}
nav .navWide .wideDiv a {
    display: inline-block;
    padding-right: 20px;
}
nav .navWide .wideDiv a.admin {
	float: right;
	padding-right: 0px;
}
nav .navNarrow i {
    float: left;
}
.hidden {
    display: none;
}
nav .navNarrow .narrowLinks a {
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

a {
	color: #3E9FFF;
	text-decoration: none;
}
a:hover {
	color: #88CE00;
	text-decoration: none;
}

th {
	color: #88CE00;
}

#latestbox {
	float: right;
	background-color: #88CE00;
	border-radius: 4px;
	padding: 10px;
}
#latestbox a {
	color: #FF0025;
}
#latestbox a:hover {
	color: #FF4200;
}
#latestbox-resp {
	display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #88CE00;
	border-radius: 4px;
    padding: 5px;
}
#latestbox-resp a {
	color: #FF0025;
}
#latestbox-resp a:hover {
	color: #FF4200;
}

#missing-item {
	margin-bottom: 20px;
}

#nonPopItems {
	display: none;
}

.notice a {
	color: #FF0025;
}
.notice a:hover {
	color: #FF4200;
}

.search input#q {
	float: left;
	width: 300px;
}
.search button#search-btn {
	float: left;
}
.search button#clear-search-btn {
	float: left;
}

.request {
	font-size: 80%;
	font-style: italic;
}
#requestChangeForm {
	display: none;
	background-color: #88CE00;
	border-radius: 4px;
	padding: 10px;
}