/* Kaart op home */
#map-div {
	clear: both;
	height: 600px;
	width: 100%;
}

#searchbar {
	clear: both;
}
#searchbar #locatie_omschrijving {
	width: 80%;
	float: left;
}
#searchbar #place-marker {
	width: 20%;
	float: left;
}

/* Kaart op editscherm */
#map-div-edit {
	height: 300px;
	width: 300px;
}

div.checkbox {
	margin-bottom: 20px;
}

#place-marker {
	margin-bottom: 20px;
}

.photobar {
	/*height: 50px;*/
}

.photobar img {
	/*float: left;*/
	max-height: 300px;
}

.photobar ul {
	padding: 0;
	list-style-type: none;
}

.buttonbar {
	margin-bottom: 100px;
}

.error {
	color: red;
}

p.notice {
	background-color: #88CE00;
	border-radius: 4px;
	padding: 10px;
}

.detail-photobar {
	margin-bottom: 20px;
}
.detail-photobar img {
	/*float: left;*/
	max-height: 300px;
}

#mini-map {
	height: 300px;
	width: 300px;
}

#latestbox {
	float: right;
	background-color: #88CE00;
	border-radius: 4px;
	padding: 10px;
}

#details {
	clear: both;
}

.voorzieningen {
	float: left;
}

.locatie {
	float: left;
	margin-left: 40px;
}

.logo {
	float: left;
}
div.logo {
	width: 267px;
	height: 150px;
	background-image: url('../img/logo_compleet.png');
	margin-bottom: 10px;
}

nav {
    overflow: hidden;
    padding: 10px 0 20px 0;
}
nav .navWide {
    display: none;
    margin: 0 auto;
}
nav .navWide .wideDiv a {
    display: inline-block;
    padding-right: 10px;
}
nav .navWide .wideDiv a.admin {
	float: right;
}
nav .navNarrow i {
    float: left;
}
.hidden {
    display: none;
}
nav .navNarrow .narrowLinks a {
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}