@media (min-width: 1px) and (max-width: 600px) {
    nav.navbar-fixed-bottom {
        display: none;
    }

    #latestbox {
        display: none;
    }

    /* TODO: logo kleiner, iconen ipv tekst in bovenbalk */
    
    .navbar-fixed-top a {
    	float: none;
    	display: block;
    }
    .navbar-fixed-top a.admin {
		float: none;
		display: block;
	}

    .voorzieningen {
        clear: both;
    }

    .locatie {
        clear: both;
        margin-left: 0px;
    }
}