body {
	padding-top: 70px;
}

/* Kaart op home */
#map-div {
	clear: both;
	height: 600px;
	width: 100%;
}

#searchbar {
	clear: both;
}

#searchbar #locatie_omschrijving {
	width: 80%;
	float: left;
}

#searchbar #place-marker {
	width: 20%;
	float: left;
}

/* Kaart op editscherm */
#map-div-edit {
	height: 300px;
	width: 300px;
}

div.checkbox {
	margin-bottom: 20px;
}

#place-marker {
	margin-bottom: 20px;
}

.photobar {
	/*height: 50px;*/
	
}

.photobar img {
	/*float: left;*/
	max-height: 50px;
}

.buttonbar {
	margin-bottom: 100px;
}

.error {
	color: red;
}

p.notice {
	background: yellow; /* TODO */
}

.detail-photobar {
	margin-bottom: 20px;
}

.detail-photobar img {
	/*float: left;*/
	max-height: 300px;
}

#mini-map {
	height: 300px;
	width: 300px;
}

.logo {
	float: left;
}

#latestbox {
	float: right;
}

#details {
	clear: both;
}

.voorzieningen {
	float: left;
}

.locatie {
	float: left;
	margin-left: 40px;
}

.navbar-fixed-top a {
	margin-right: 20px;
}