@media (min-width: 1px) and (max-width: 600px) {
    #latestbox {
        display: none;
    }

    .voorzieningen {
        clear: both;
    }

    .locatie {
        clear: both;
        margin-left: 0px;
    }
    
    nav .navWide .wideDiv a.admin {
		float: left;
	}
	
	.logo-resp {
		display: block;
	}
	.logo {
		display: none;
	}
}

@media (min-width: 601px) {
    nav .navWide {
        display: block;
    }
    nav .navNarrow {
        display: none;
    }
}