body { 
	padding-top: 70px;
}

/* Kaart op home */
#map-div {
	height: 600px;
	width: 100%;
}

/* Kaart op editscherm */
#map-div-edit {
	height: 300px;
	width: 300px;
}

div.checkbox {
	margin-bottom: 20px;
}

#place-marker {
	margin-bottom: 20px;
}

.photobar {
	/*height: 50px;*/
}
.photobar img {
	/*float: left;*/
	max-height: 50px;
}

.buttonbar {
	margin-bottom: 100px;
}

.error {
	color: red;
}

p.notice {
	background: yellow; /* TODO */
}